<%- include('partials/header') %>
<div class="container mt-5">
  <h1>Register</h1>

  <script>
    function validateForm(register) 
  {
  var x=document.register.username.value;
  var y=document.register.password.value;
   if (x==null || x=="")
   {
  alert("Email must be filled.");
  return false;
    } else if (y==null || y=="") {
      alert("Password must be filled.");
      return false; 
    }
   }
  </script>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <form action="/register" name="register" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="button" class="btn btn-dark" onclick="validateForm()">Register</button>
          </form>

        </div>
      </div>
    </div>

  </div>
</div>

<%- include('partials/header') %>
